# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Toolbox/HelloWorld.md
Toolbox/Hello World.Rmd
Exploratory/wk1/household_power_consumption.txt
Exploratory/wk3/Source_Classification_Code.rds
Exploratory/wk3/summarySCC_PM25.rds
Cleaning/wk3/data/phonedata.zip
Cleaning/wk3/data/UCI HAR Dataset/activity_labels.txt
Cleaning/wk3/data/UCI HAR Dataset/features.txt
Cleaning/wk3/data/UCI HAR Dataset/features_info.txt
Cleaning/wk3/data/UCI HAR Dataset/README.txt
Cleaning/wk3/data/UCI HAR Dataset/test/Inertial Signals/body_acc_x_test.txt
*.txt
