# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Toolbox/HelloWorld.md
Toolbox/Hello World.Rmd
Exploratory/wk1/household_power_consumption.txt
Exploratory/wk3/Source_Classification_Code.rds
Exploratory/wk3/summarySCC_PM25.rds
Cleaning/wk3/data/phonedata.zip
Cleaning/wk3/data/UCI HAR Dataset/activity_labels.txt
Cleaning/wk3/data/UCI HAR Dataset/features.txt
Cleaning/wk3/data/UCI HAR Dataset/features_info.txt
Cleaning/wk3/data/UCI HAR Dataset/README.txt
Cleaning/wk3/data/UCI HAR Dataset/test/Inertial Signals/body_acc_x_test.txt
Cleaning/wk3/data/UCI HAR Dataset/test/Inertial Signals/body_acc_y_test.txt
Cleaning/wk3/data/UCI HAR Dataset/test/Inertial Signals/body_gyro_y_test.txt
Cleaning/wk3/data/UCI HAR Dataset/test/Inertial Signals/body_gyro_z_test.txt
Cleaning/wk3/data/UCI HAR Dataset/test/subject_test.txt
Cleaning/wk3/data/UCI HAR Dataset/test/Inertial Signals/total_acc_y_test.txt
Cleaning/wk3/data/UCI HAR Dataset/test/Inertial Signals/body_gyro_x_test.txt
Cleaning/wk3/data/UCI HAR Dataset/test/Inertial Signals/body_gyro_x_test.txt
Cleaning/wk3/data/UCI HAR Dataset/test/y_test.txt
Cleaning/wk3/data/UCI HAR Dataset/test/Inertial Signals/body_acc_z_test.txt
Cleaning/wk3/data/UCI HAR Dataset/test/Inertial Signals/total_acc_z_test.txt
Cleaning/wk3/data/UCI HAR Dataset/train/Inertial Signals/body_gyro_y_train.txt
Cleaning/wk3/data/UCI HAR Dataset/train/Inertial Signals/body_acc_z_train.txt
Cleaning/wk3/data/UCI HAR Dataset/train/Inertial Signals/total_acc_y_train.txt
Cleaning/wk3/data/UCI HAR Dataset/train/Inertial Signals/body_acc_x_train.txt
Cleaning/wk3/data/UCI HAR Dataset/train/Inertial Signals/total_acc_z_train.txt
Cleaning/wk3/data/UCI HAR Dataset/train/Inertial Signals/body_gyro_x_train.txt
Cleaning/wk3/data/UCI HAR Dataset/train/Inertial Signals/body_gyro_z_train.txt
Cleaning/wk3/data/UCI HAR Dataset/train/Inertial Signals/body_acc_y_train.txt
Cleaning/wk3/data/UCI HAR Dataset/test/X_test.txt
Cleaning/wk3/data/UCI HAR Dataset/test/Inertial Signals/total_acc_x_test.txt
Cleaning/wk3/data/UCI HAR Dataset/train/X_train.txt
Cleaning/wk3/data/UCI HAR Dataset/train/y_train.txt
Cleaning/wk3/data/UCI HAR Dataset/train/Inertial Signals/total_acc_x_train.txt
Cleaning/wk3/data/UCI HAR Dataset/train/subject_train.txt
Reproductible research/wk 3/repdata-data-StormData.csv.bz2
*.csv
*.csv
*.zip
*.zip
3. Cleaning/Assignment 1/data/UCI HAR Dataset/activity_labels.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/features_info.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/test/Inertial Signals/body_acc_y_test.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/test/Inertial Signals/body_acc_x_test.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/test/Inertial Signals/body_gyro_z_test.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/test/subject_test.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/test/X_test.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/test/Inertial Signals/body_acc_z_test.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/test/Inertial Signals/total_acc_y_test.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/test/Inertial Signals/body_acc_z_test.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/features.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/test/y_test.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/train/Inertial Signals/body_acc_z_train.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/train/Inertial Signals/body_acc_z_train.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/train/Inertial Signals/body_acc_x_train.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/test/Inertial Signals/body_gyro_x_test.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/test/Inertial Signals/body_gyro_y_test.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/README.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/train/Inertial Signals/body_gyro_y_train.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/train/Inertial Signals/total_acc_z_train.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/test/Inertial Signals/total_acc_x_test.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/train/Inertial Signals/body_gyro_z_train.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/test/Inertial Signals/total_acc_z_test.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/train/Inertial Signals/total_acc_x_train.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/train/subject_train.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/train/y_train.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/train/Inertial Signals/body_gyro_x_train.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/train/Inertial Signals/body_acc_y_train.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/train/Inertial Signals/total_acc_y_train.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/train/Inertial Signals/total_acc_y_train.txt
3. Cleaning/Assignment 1/data/UCI HAR Dataset/train/X_train.txt
1. Toolbox/Hello World.Rmd
1. Toolbox/HelloWorld.md
Machine Learning/.Rhistory
